@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
body
{
    background: #0f0f0f;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
header
{
    height: 90px;
    display: inline-block;
}
.logo
{
    float: left;
    padding-left: 375px;
    padding-top: 15px;
}
nav
{
    padding-left: 95px;
    padding-top: 37px;
    float: left;
}
nav ul li
{
    text-transform: uppercase;
    color: white;
    display: inline-block;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding-right: 45px;
}
.social-resources
{
float: left;
padding-top: 34px;
vertical-align: center;
height: 22px;
display: inline;
}
div.social-resources ul li
{
    display: inline;
    padding-right: 15px;
    border-right: 1px solid #3a3a3a;
    position: relative;
    top: 50%;
}