.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: stretch;
    align-content: end;

}
.container .item{
    border: 1px solid red;
    border-collapse: collapse;
    background-color: grey;
}
.item{
    padding: 20px;
    text-align: center;
}
.item-1{
    grid-area: header;
}
.item-2{
    grid-area: main;
}
.item-3{
    grid-area: sidebar;
}
.item-4{
    grid-area: footer;
}