

div
{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:  rgb(211, 211, 211);
    border: 1px double white;
    height: 40px;
    width: 240px;
    padding: 10px 0px 0px 0px;
}

#head-menu
{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color:  rgb(117, 117, 117);
    border: 1px double white;
    height: 50px;
    width: 270px;
    padding: 20px 0px 0px 0px;
}   
  

#select-menu
{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: rgb(158, 158, 158);
    background-color:  rgb(240, 239, 239);
    border: 1px double white;
    height: 40px;
    width: 240px;
    padding: 10px 0px 0px 0px;
}
.arrow
{
    padding: 20px 0px 0px 100px;   
}