body
{
    font-family: Montserrat, Arial;
    background: url(fon-1.jpg);
    width: 1024px;
}
.header
{
    display: inline-block;
}
.clearfix
{
    display: block;
    clear: both;
}
.menu
{
    vertical-align: middle;
    display: inline-block;
    padding-left: 200px;
    padding-bottom: 40px;
}
.buttom
{
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    border: 1px solid black;
    background: white;
    color: black;
    font-weight: 600;
}
.buttom-3
{
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    border: 1px solid black;
    background: white;
    color: black;
}

.buttom:hover
{
    background: blue;
    color: white;
    
}

.buttom:active
{
    background: white;
    color: black;
}
.buttom-3:hover
{
    background: blue;
    color: white;    
}

.buttom-3:active
{
    background: white;
    color: black;
}
.buttom-call:hover
{
    background: white;
    color: black;
}
.buttom-call:active
{
    background: blue;
    color: white;
}
.left-menu
{
    display: inline-block;
    width: 300px;
    height: auto;
    background:rgb(198, 198, 255);
    opacity: 1;
    float: left;
}
.content
{
    max-width: 70%;
    display: inline-block;
    text-indent: 30px;
    line-height: 1.5;
    text-align: justify;
    float: left;
    padding-left: 50px;

}
.center
{
    display: block;
    position: absolute ;
    float: left;
}
.site
{
    display: block;
    position: relative;
    width: 1024px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0 auto;
    
}
.title
{
    text-align: center;
}
.footer
{
    width: 100%;
    height: 100px;
    display: block;
    background: blue;
    opacity: 0.5;
    float: left;
}
.img
{
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
.left-menu-top
{
margin: auto;
max-width: 30%;
padding-top: 20px;

}
.arrow-left
{
width: 10px;
margin-right: 5px;
}
.arrow-right
{
width: 10px;
margin-left: 7px;
}
.buttom-2
{
    margin-right: 0 auto;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    border: 1px solid black;
    background: yellow;
    color: black;
    font-weight: 600;
}
.left-menu-button
{
    margin: 30px 0px 45px 100px;
}
.buttom-2:hover
{
    background: blue;
    color: white;
}
.buttom-2:active
{
    background: white;
    color: black;
}
.copyright
{
    color: white;
    padding-left: 50%;
    padding-top: 40px;
    
}